#cuadrado1{
    background:url("../images/tierra.jpg") no-repeat fixed;
    color:purple;
    height: 300px;
}

#cuadrado2{
    background-image:url("../images/fuego.jpg"),url("../images/fuego2.jpg"),url("../images/fuego3.jpg") ;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-attachment:scroll;
    background-position:left, center, right;
    color:black;
    width:100%;
    height: 150px;
}

#cuadrado3{
    background-image:url("../images/agua.jpg");
    background-position:right bottom;
    background-repeat: no-repeat;
    color:yellow;
    width:100%;
    height: 150px;
}

#cuadrado4{
    background-image:url("../images/aire.jpg");
    background-repeat:repeat;
    color:orange;
    width:100%;
    height: 150px;
}