#cuadrado1 .img1 {
    width:200px;
    height: 400px;

}

#cuadrado1 .img2 {
    width:200px;
    height: 400px;
    object-fit:cover;
}

#cuadrado1 .img3 {
    width:200px;
    height: 400px;
    object-fit:contain;
}

#cuadrado1 .img4 {
    width:200px;
    height: 400px;
    object-fit:fill;
}

#cuadrado1 .img5 {
    width:200px;
    height: 400px;
    object-fit:scale-down;
}

.divContenedor{
    width:100%;
}

.videoSinObjectFit{
    width:100%;
    height:200px;
}

.videoConObjectFit{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

