#cuadrado1 .img1 {
    width:200px;
    height: 400px;

}

#cuadrado1 .img2 {
    width:200px;
    height: 400px;
    object-fit: contain;
}

#cuadrado1 .img3 {
    width:200px;
    height: 400px;
    object-fit: cover;
}

#cuadrado1 .img4 {
    width:200px;
    height: 400px;
    object-fit: none;
}

#cuadrado1 .img5 {
    width:200px;
    height: 400px;
    object-fit: scale-down;
}